# Ignore everything
*

# Add back files with extensions
!*.*

# Add back directories
!*/

# Add back README and Makefile
!README
!Makefile
!Dockerfile

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Zip files
*.zip

# Tar files
*.tar

# Dependency directories (remove the comment below to include it)
vendor/
.vscode/
.idea/
build/
cmd/cli/main.go

